<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <!-- Debug-only second launcher icon. Merged into the debug APK only. -->
    <activity
      android:name=".DevToolsActivity"
      android:exported="true"
      android:label="@string/dev_tools_label"
      android:theme="@android:style/Theme.Material.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
